footer
  .container
    h1 サイトコンテンツ
    .row
      .col
        h2 著者の方へ
        ul
          li
            a(href="./call-for-papers.html") 論文募集
          li
            a(href="./review-policy.html") 査読方針
          li
            a(href="./review-form.html") 査読フォーム
      .col
        h2 参加募集
        p 準備中
      .col
        h2 プログラム
        p 準備中
      .col
        h2 動画中継
        p 準備中
      .col
        h2 予稿集
        p 準備中
      .col
        h2 WISSについて
        p 準備中
    hr
    p WISS 2020実行委員会
    p Contribute to this page on <a href="https://github.com/WISSOrg/web2020">GitHub</a> (PRs welcome).
