- var page_title = "WISS 2020: 第28回インタラクティブシステムとソフトウェアに関するワークショップ"

- 
  var chairs = [
    {
      role: "プログラム委員長",
      name: "寺田 努",
      affiliation: "神戸大",
      keywords: [],
      link: "",
      image: ""
    }, 
    {
      role: "実行委員長",
      name: "五十嵐 悠紀",
      affiliation: "明治大学",
      keywords: ["コンピュータグラフィックス", "ファブリケーション"],
      link: "http://www.isc.meiji.ac.jp/~yuki_i/index-j.html",
      image: "igarashi"
    },
    {
      role: "副実行委員長",
      name: "真鍋 宏幸",
      affiliation: "芝浦工業大学",
      keywords: ["入出力デバイス", "ファブリケーション"],
      link: "http://pai.ise.shibaura-it.ac.jp/",
      image: "manabe"
    }
  ]

doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    include includes/seo
    title #{page_title}
    include includes/bootstrap-css
    link(rel="stylesheet" href="./css/override.css")
  body
    include includes/header
    .container.nav-padding.content
      h1 WISS委員一覧
    include includes/footer
    include includes/bootstrap-js
