- var page_title = "WISS 2020: 第28回インタラクティブシステムとソフトウェアに関するワークショップ"

doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    include includes/seo
    title #{page_title}
    include includes/bootstrap-css
    link(rel="stylesheet" href="./css/override.css")
  body
    header
      nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
        .container
          a(href="./").navbar-brand WISS 2020
    .jumbotron
      .jumbotron-background-image
      .container
        h1 WISS 2020
        p.lead 第28回インタラクティブシステムとソフトウェアに関するワークショップ
    .container
      include:markdown-it(html=true typographer=true) md/index.md
    footer
      .container
        p WISS 2020
    include includes/bootstrap-js
